name: macOS-intel

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  actions: write

jobs:
  build-and-test:
    runs-on: macos-15-intel

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Install automake (including aclocal)
      run: brew install autoconf autoconf-archive automake libtool

    - name: Setup anew (or from cache) vcpkg (and does not build any package)
      uses: lukka/run-vcpkg@v11
      with:
        doNotCache: false
        vcpkgGitCommitId: '84bab45d415d22042bd0b9081aea57f362da3f35'
        runVcpkgInstall: true
      env:
        VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
        VCPKG_INSTALLED_DIR: ${{ github.workspace }}/vcpkg_installed

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable

    - name: Build
      run: cargo build -vv --release
      env:
        VCPKG_HAS_BEEN_INSTALLED: 1
