name: macOS

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  actions: write

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Setup anew (or from cache) vcpkg (and does not build any package)
      uses: lukka/run-vcpkg@v11
      with:
        doNotCache: false
      env:
        VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

    - name: Install automake (including aclocal)
      run: brew install automake libtool

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable

    - name: Build
      run: cargo build -vv --release
      # env:
      #   ENABLE_STRICT_CHECKS: 1
