name: macOS

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  actions: write

jobs:
  build-and-test:
    uses: ./.github/workflows/build.yml
    with:
      os: macos-15
      platform: macos-arm64
      package: false
