name: macOS

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Setup anew (or from cache) vcpkg (and does not build any package)
      uses: lukka/run-vcpkg@v11

    - name: Install automake (including aclocal)
      run: brew install automake libtool

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable

    - name: Build
      run: export ENABLE_STRICT_CHECKS=1 && cargo build -vv --release
